body {
    background-color: black;
}

#container {
    height: 100vh;
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

#header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

#search-row {
    background-color: red;

}

#welcome-row {
    background-color: brown;
}

#sidebar {
    background-color: blue;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 5fr 8fr;
}

#logo-banner {
    background-color: antiquewhite;
}

#main-menu {
    background-color: blueviolet;
}

#settings-menu {
    background-color: pink;
}

#main {
    background-color: lightblue;
    padding: 15px;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#main > div:first-child {
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-template-areas: 
        "main-header main-header"
        "card1 card2"
        "card3 card4"
        "card5 card6";
    gap: 5px;
}

.card {
    background-color: blanchedalmond;
}

h2 {
    grid-area: main-header;
    align-self: end;
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
}

#card4 {
    grid-area: card4;
}

#card5 {
    grid-area: card5;
}

#card6 {
    grid-area: card6;
}

#main > div:last-child {
    background-color: cadetblue;
}